span
    transition(name="fv-fade")
        div(class="fv-overlay", v-show="pShow")
    transition(name="fv-modal")
        fv-main(class="fv-modal", v-show="pShow", ref="modal")
            fv-header
                div(class="fv-title")
                    h3(v-html="title")
            fv-content
                slot
            fv-footer
                div(class="fv-grow")
                button( v-for="button in pButtons", class="fv-button", ref="buttonEl", :class="button.class", @click="clickButton(button)", @blur="focusIf()") 
                    i(v-if="button.icon", :class="button.icon")
                    =" "
                    span(v-html="button.text")