fv-content
  div(:class="$root.mainClass")
    doc-description
      | To create full featured dialog in your application, use this!
    doc-code
      = "<fv-dialog>\n"
      = "\t<!-- contents -->\n"
      = "</fv-dialog>\n"
    doc-example
      fv-dialog(ref="d1", position="center", :buttons="['Cancel', {class: 'fv-ok',icon: 'fa fa-check',text: 'OK'}]", content="This is simple dialog. not?", title="Simple")
      fv-dialog(ref="d2", content-class="fv-text-center", position="center", :auto-close="false", :modal="true")
        fv-content.fv-text-center
          fv-button.fv-ok.fv-xl(:style="{borderRadius: '100px', width: '100px', height: '100px'}", @click.native="$refs.d2.close()") OK
      fv-dialog(ref="d3", position="bottom")
        fv-content
          .fv-pull-left I can also show like a sheet.
          .fv-pull-right
            fv-button.fv-xs(@click="$refs.d3.close()", icon="fa fa-check") OK
      fv-dialog(ref="d5", position="top")
        fv-content
          .fv-pull-left I can also show like a sheet at top.
          .fv-pull-right
            fv-button.fv-xs(@click="$refs.d5.close()", icon="fa fa-check") OK
      fv-dialog(ref="d4", position="fill", :buttons="[{class: 'fv-ok',icon: 'fa fa-check',text: 'OK'}]", content="This is fill dialog.", title="Fill")
      fv-content.fv-row
        fv-button.fv-block.fv-ok(@click.native="$refs.d1.open()") Simple
        br
        fv-button.fv-block.fv-primary(@click.native="$refs.d2.open()") Modal, Without built-in Buttons
        br
        fv-button.fv-block.fv-danger(@click.native="$refs.d3.open()") Modified Style at Bottom
        br
        fv-button.fv-block.fv-info(@click.native="$refs.d5.open()") or Top ;)
        br
        fv-button.fv-block(@click.native="$refs.d4.open()") Fill
    doc-api(:rows="api")
