fv-content
  div(:class="$root.mainClass")
    doc-description
      | To create full featured input in your application, use this!
    doc-code
      = "<fv-input></fv-input>"
    doc-example
      .fv-row
        .fv-col-xs-12 
          h4 Sizes:
        .fv-col-sm-6
          p X-Small
          fv-input.fv-xs.fv-block(placeholder=".fv-xs")
        .fv-col-sm-6
          p Small
          fv-input.fv-sm.fv-block(placeholder=".fv-sm")
        .fv-col-sm-6
          p Medium (default)
          fv-input.fv-md.fv-block(placeholder=".fv-md")
        .fv-col-sm-6
          p Large
          fv-input.fv-lg.fv-block(placeholder=".fv-lg")
        .fv-col-sm-6
          p X-Large
          fv-input.fv-xl.fv-block(placeholder=".fv-xl")
        .fv-row
          hr.fv-hr
      .fv-row
        .fv-col-xs-12 
          h4 States:
        .fv-col-sm-6
          p Focus
          fv-input.focus.fv-block(placeholder=".focus :focus")
        .fv-col-sm-6
          p Invalid
          fv-input.focus.invalid.fv-block(placeholder=".invalid :invalid")
        .fv-col-sm-6
          p Disabled
          fv-input.fv-block(placeholder="[disabled]", disabled)
        .fv-row
          hr
      .fv-row
        .fv-col-xs-12 
          h4 Usage:
        .fv-col-sm-12
          p Default:
          fv-input.fv-block(v-model="inputs.d1", placeholder="Enter your age")
        .fv-col-sm-12
          p Display value + required: {{inputs.d2.value}}
          .fv-input-group.fv-flex
            fv-input.fv-grow(v-model="inputs.d2.value", :display-value="inputs.d2.displayValue", render-type="display", placeholder="I'm required!", required)
            fv-button(@click.native="inputs.d2.value = undefined; inputs.d2.displayValue = null;") Clear
            fv-button(@click.native="inputs.d2.value = new Date().getTime(); inputs.d2.displayValue = new Date(inputs.d2.value).getMilliseconds();") Change
        .fv-col-sm-12
          p Advanced Required: 
          fv-input.fv-block(v-model="inputs.d3", placeholder="Enter mobile number", :required="function(){ return this.value.length === 11 && this.value.indexOf('09') === 0 }")
    doc-api(:rows="api")
