fv-content
  div(:class="$root.mainClass")
    doc-description
      | To creating footer inside 
      a.fv-link(@click="$router.push(`/components/fvMain`)") fvMain
      | , use this component. 
    doc-code
      = "<fv-footer>\n"
      = "\t<!-- contents -->\n"
      = "</fv-footer>\n"
    doc-example
      .fv-padding
        h4 With Buttons:
        fv-footer
          fv-button.fv-default.fv-block.fv-sm Cancel
          fv-button.fv-default.fv-block.fv-sm No
          fv-button.fv-primary.fv-block.fv-sm Yes
        br
        h4 With Texts:
        fv-footer
          .fv-grow
          .fv-title
            p Footer content
          .fv-grow
        br
        h4 Modified Height:
        fv-footer(:height="35")
          .fv-grow
          a.fv-link
            i.fa.fa.fa-github
            |  Link

    doc-api(:rows="api")
