fv-content
  div(:class="$root.mainClass")
    doc-description
      | To create full featured menu in your application, use this!
    doc-code
      = "<fv-menu></fv-menu>"
    doc-example
      fv-menu(ref="m1", :sheet="false", :items="['Item 1', 'Item 2','Item 3', 'Item 4','Item 5', 'Item 6']", text-key="", disabled-key="", title="Normal", @item-click="doIt")
      fv-menu(ref="m2", :sheet="true", :items="[{text: 'Copy', disabled: false}, {text: 'Cut', disabled: false}, {text: 'Paste', disabled: true}]", @item-click="doIt")
      fv-menu(ref="m3", :sheet="null", :items="[{text: 'Google', icon: 'fa fa-google'}, {text: 'Yahoo', icon: 'fa fa-yahoo'}, {text: 'Microsoft', icon: 'fa fa-windows'}]", title="Select your favorite company", @item-click="doIt")
        template(scope="scope")
          i(:class="scope.item.icon")
          |  {{scope.item.text}}
          | : {{scope.userArgument}}
      fv-content.fv-row
        h4 Not Sheet
        fv-button.fv-block.fv-warning(@click="$refs.m1.open()") Normal
        br
        fv-button.fv-block.fv-default(@click="$refs.m2.open(Math.random()*100)") Sheet + Disabled item
        br
        h4 Auto Sheet + Custom Template + User Argument
        .fv-input-group.fv-flex
          fv-input.fv-grow(placeholder="Enter Argument", v-model="inputs.d1")
          fv-button.fv-ok(@click="$refs.m3.open(inputs.d1)") Open Menu        
    doc-api(:rows="api")
