fv-content
  div(:class="$root.mainClass")
    doc-description
      | To create full featured menu in your application, use this!
    doc-code
      = "<fv-menu></fv-menu>"
    doc-example
      fv-menu(ref="m1", :sheet="false", :items="['Option 1', 'Option 2','Option 1', 'Option 2','Option 1', 'Option 2','Option 1', 'Option 1', 'Option 2','Option 1', 'Option 2','Option 1', 'Option 2','Option 1', 'Option 2','Option 2','Option 1', 'Option 2','Option 1', 'Option 2']", title="Normal")
      fv-menu(ref="m2", :sheet="true", :items="[{text: 'Google', icon: 'fa fa-google'}, {text: 'Yahoo', icon: 'fa fa-yahoo'}, {text: 'Microsoft', icon: 'fa fa-windows'}]", title="Select uour favorite company")
      fv-menu(ref="m3", :sheet="null", :items="[{text: 'Copy', icon: 'fa fa-copy'}, {text: 'Cut', icon: 'fa fa-cut'}, {text: 'Paste', icon: 'fa fa-paste', disabled:true}]")
      fv-content.fv-row
        fv-button.fv-block.fv-warning(@click.native="$refs.m1.open()") Normal
        br
        fv-button.fv-block.fv-primary(@click.native="$refs.m2.open()") Sheet
        br
        fv-button.fv-block.fv-default(@click.native="$refs.m3.open(Math.random()*100)") Auto-Sheet With Disabled item
    doc-api(:rows="api")
