@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-button {
  @include sizes;
  border: 1px solid $shadow-color;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  max-width: 100%;
  text-align: center;
  text-shadow: 0 1px 1px $shadow-color;
  vertical-align: middle;
  &:active,
  &.active {
    @include textoutline($info-color-light);
    text-shadow: 0 -1px 1px $shadow-color;
  }
  &,
  & span {
    @include nowrap;
  }
  &:focus,
  &.focus {
    @include outline;
    &:invalid,
    &.invalid {
      @include outline($danger-color);
    }
  }
  &[disabled],
  &.disabled {
    @include disabled;
  }
  &,
  &.fv-default {
    @include button($default-color);

  }
  &.fv-ok {
    @include button($default-color, $primary-color);

  }
  &.fv-primary {
    @include button($primary-color);

  }
  &.fv-info {
    @include button($info-color);

  }
  &.fv-danger {
    @include button($danger-color);

  }
  &.fv-warning {
    @include button($warning-color);

  }
  &.fv-success {
    @include button($success-color);

  }
}
