@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-button {
  @include sizes;
  border: 1px solid $shadow-color;
  border-radius: $border-radius;
  box-shadow: 0 1em 1em $shadow-color-light;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  &,
  & span {
    @include nowrap;
  }
  &:focus:not(.loading),
  &.focus:not(.loading) {
    @include outline($theme-color);
    &:invalid,
    &.invalid {
      @include outline($danger-color);
    }
  }
  &[disabled],
  &.disabled {
    @include disabled;
  }
  &,
  &.fv-default {
    @include yiq($default-color);
    &:active,
    &.active {
      @include yiq($default-color-dark);
    }
    &:focus,
    &.focus {
      @include yiq($default-color-light);
    }
  }
  &.fv-ok {
    background: $default-color;
    color: $primary-color;
    &:active,
    &.active {
      background: $default-color-dark;
      color: $primary-color-light;
    }
    &:focus,
    &.focus {
      background: $default-color-light;
      color: $primary-color;
    }
  }
  &.fv-primary {
    @include yiq($primary-color);
    &:active,
    &.active {
      @include yiq($primary-color-dark);
    }
    &:focus,
    &.focus {
      @include yiq($primary-color-light);
    }
  }
  &.fv-info {
    @include yiq($info-color);
    &:active,
    &.active {
      @include yiq($info-color-dark);
    }
    &:focus,
    &.focus {
      @include yiq($info-color-light);
    }
  }
  &.fv-danger {
    @include yiq($danger-color-dark);
    &:active,
    &.active {
      @include yiq($danger-color-dark);
    }
    &:focus,
    &.focus {
      @include yiq($danger-color-dark);
    }
  }
  &.fv-warning {
    @include yiq($warning-color-dark);
    &:active,
    &.active {
      @include yiq($warning-color-dark);
    }
    &:focus,
    &.focus {
      @include yiq($warning-color-dark);
    }
  }
  &.fv-success {
    @include yiq($success-color-dark);
    &:active,
    &.active {
      @include yiq($success-color-dark);
    }
    &:focus,
    &.focus {
      @include yiq($success-color-dark);
    }
  }
  &:active:not(.loading),
  &.active:not(.loading) {
    box-shadow: inset 0 1em 1em $shadow-color-light;
  }
}
