@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-button {
  @include sizes;
  border: 1px solid $shadow-color;
  border-radius: $border-radius;
  box-shadow: inset 0 -2px 0 $shadow-color-light;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  &:active:not(.loading),
  &.active:not(.loading) {
    box-shadow: inset 0 2px 1px $shadow-color-light;
  }
  & > .loading-icon {
    animation-duration: .6s;
    font-size: 1.1em;
  }
  &,
  & span {
    @include nowrap;
  }
  &:focus:not(.loading):not(:active):not(.active),
  &.focus:not(.loading):not(:active):not(.active) {
    //@include textoutline(#fff);
    &:invalid,
    &.invalid {
      @include outline($danger-color);
    }
  }
  &[disabled],
  &.disabled {
    @include disabled;
  }
  &,
  &.fv-default {
    @include yiq($default-color);
    &:active,
    &.active {
      @include yiq($default-color-dark);
    }
    &:focus,
    &.focus {
      @include yiq($default-color-light);
    }
  }
  &.fv-ok {
    background: $default-color;
    color: $primary-color;
    &:active,
    &.active {
      background: $default-color-dark;
      color: $primary-color-light;
    }
    &:focus,
    &.focus {
      background: $default-color-light;
      color: $primary-color;
    }
  }
  &.fv-primary {
    @include yiq($primary-color);
    &:active,
    &.active {
      @include yiq($primary-color-dark);
    }
    &:focus,
    &.focus {
      @include yiq($primary-color-light);
    }
  }
  &.fv-info {
    @include yiq($info-color);
    &:active,
    &.active {
      @include yiq($info-color-dark);
    }
    &:focus,
    &.focus {
      @include yiq($info-color-light);
    }
  }
  &.fv-danger {
    @include yiq($danger-color);
    &:active,
    &.active {
      @include yiq($danger-color-dark);
    }
    &:focus,
    &.focus {
      @include yiq($danger-color-light);
    }
  }
  &.fv-warning {
    @include yiq($warning-color);
    &:active,
    &.active {
      @include yiq($warning-color-dark);
    }
    &:focus,
    &.focus {
      @include yiq($warning-color-light);
    }
  }
  &.fv-success {
    @include yiq($success-color);
    &:active,
    &.active {
      @include yiq($success-color-dark);
    }
    &:focus,
    &.focus {
      @include yiq($success-color-light);
    }
  }
}
