@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

@mixin fv-dialog-center($part) {
  @if($part == 'style') {
    border-radius: $border-radius;
    left: 50%;
    max-height: 90%;
    max-width: 90%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  } @else if ($part == 'animation-enter') {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
    transition-duration: $transition-speed;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    will-change: transform, opacity;
  } @else if($part == 'animation-leave') {
    opacity: 0;
    transform: translate3d(-50%, -42%, 0);
  }
}
@mixin fv-dialog-bottom($part) {
  @if($part == 'style') {
    bottom: .1px;
    left: 0;
    max-height: 90%;
    max-width: 100%;
    top: auto;
    width: 100%;
  } @else if($part == 'animation-enter') {
    transform: translate3d(0, 0, 0);
    transition-duration: $transition-speed;
    transition-property: transform;
    transition-timing-function: ease;
    will-change: transform;
  } @else if($part == 'animation-leave') {
    transform: translate3d(0, 100%, 0);
  }
}
@mixin fv-dialog-top($part) {
  @if($part == 'style') {
    bottom: auto;
    left: 0;
    max-height: 90%;
    max-width: 100%;
    top: .1px;
    width: 100%;
  } @else if($part == 'animation-enter') {
    transform: translate3d(0, 0, 0);
    transition-duration: $transition-speed;
    transition-property: transform;
    transition-timing-function: ease;
    will-change: transform;
  } @else if($part == 'animation-leave') {
    transform: translate3d(0, -100%, 0);
  }
}
@mixin fv-dialog-fill($part) {
  @if($part == 'style') {
    border-radius: 0;
    height: 100%;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    top: 0;
    width: 100%;
  } @else if($part == 'animation-enter') {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-duration: $transition-speed;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    will-change: transform, opacity;
  } @else if($part == 'animation-leave') {
    opacity: 0;
    transform: translate3d(0, 8%, 0);
  }
}



.fv-dialog {
  @include yiq($bg-color);
  backface-visibility: hidden;
  box-shadow: 0 5px 5px $shadow-color;
  height: auto;
  min-width: 300px;
  overflow: auto;
  position: fixed;
  transform: translate3d(0, 0, 0);
  width: auto;
  &.fv-dialog-center {
    @include fv-dialog-center(style);
  }
  &.fv-dialog-bottom {
    @include fv-dialog-bottom(style);
  }
  &.fv-dialog-top {
    @include fv-dialog-top(style);
  }
  &.fv-dialog-fill {
    @include fv-dialog-fill(style);
  }
  &.fv-dialog-center-bottom {
    @include respond-to(sm) {
      @include fv-dialog-center(style);
    }
    @include respond-to(only-xs) {
      @include fv-dialog-bottom(style);
    }
  }
  &.fv-dialog-center-fill {
    @include respond-to(sm) {
      @include fv-dialog-center(style);
    }
    @include respond-to(only-xs) {
      @include fv-dialog-fill(style);
    }
  }

  @include vue-animation(fv-dialog-center, enter) {
    @include fv-dialog-center(animation-enter);
  }
  @include vue-animation(fv-dialog-center, leave) {
    @include fv-dialog-center(animation-leave);
  }

  @include vue-animation(fv-dialog-bottom, enter) {
    @include fv-dialog-bottom(animation-enter);
  }
  @include vue-animation(fv-dialog-bottom, leave) {
    @include fv-dialog-bottom(animation-leave);
  }

  @include vue-animation(fv-dialog-top, enter) {
    @include fv-dialog-top(animation-enter);
  }
  @include vue-animation(fv-dialog-top, leave) {
    @include fv-dialog-top(animation-leave);
  }

  @include vue-animation(fv-dialog-fill, enter) {
    @include fv-dialog-fill(animation-enter);
  }
  @include vue-animation(fv-dialog-fill, leave) {
    @include fv-dialog-fill(animation-leave);
  }

  @include vue-animation(fv-dialog-center-bottom, enter) {
    @include respond-to(sm) {
      @include fv-dialog-center(animation-enter);
    }
    @include respond-to(only-xs) {
      @include fv-dialog-bottom(animation-enter);
    }
  }
  @include vue-animation(fv-dialog-center-bottom, leave) {
    @include respond-to(sm) {
      @include fv-dialog-center(animation-leave);
    }
    @include respond-to(only-xs) {
      @include fv-dialog-bottom(animation-leave);
    }
  }

  @include vue-animation(fv-dialog-center-fill, enter) {
    @include respond-to(sm) {
      @include fv-dialog-center(animation-enter);
    }
    @include respond-to(only-xs) {
      @include fv-dialog-fill(animation-enter);
    }
  }
  @include vue-animation(fv-dialog-center-fill, leave) {
    @include respond-to(sm) {
      @include fv-dialog-center(animation-leave);
    }
    @include respond-to(only-xs) {
      @include fv-dialog-fill(animation-leave);
    }
  }
}
