span
  .fv-overlay(v-if="pShow",
    @click="closeIf()")
  transition(:name="animationName")
    fv-main.fv-dialog(:class="animationName",
      v-if="pShow",
      ref="dialog",
      @keydown.native="pKeyDown($event); $emit('keydown', $event)",
      @click.native="$emit('click', $event)")
      fv-header(height="40px",
        v-if="title.length > 0")
        .title
          label.fv-control-label(v-html="title")
      fv-content(v-if="content",
        v-html="content")
      slot(v-else)
      fv-footer(v-if="pButtons.length > 0")
        .fv-grow
        fv-button(v-for="button in pButtons",
          :key="button.key",
          :class="button.class",
          @click.prevent="clickButton(button)",
          :disabled="button.disabled") 
          i(v-if="button.icon",
            :class="button.icon")
          |  
          span(v-html="button.text")
