span
    transition(name="fv-fade")
        div(class="fv-overlay fv-dialog-overlay", v-show="pShow", @click="closeIf()")
    transition(name="fv-dialog")
        fv-main(class="fv-dialog", v-show="pShow", ref="dialog", @keydown="pKeyDown($event); $emit('keydown', $event)", @click="$emit('click', $event)")
            fv-content
                h3(v-if="title.length > 0", v-html="title")
                br(v-if="title.length > 0")
                slot
            fv-footer(v-if="pButtons.length > 0")
                div(class="fv-grow")
                fv-button( v-for="button in pButtons", :key="button.key", :class="button.class", @click="clickButton(button)", :disabled="button.disabled") 
                    i(v-if="button.icon", :class="button.icon")
                    =" "
                    span(v-html="button.text")