@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.fv-datepicker {
  & > .fv-main {
    @include respond-to(only-xs) {
      max-height: 100%;
      width: 100%;
    }
    & .fv-pick-section {
      display: inline-block;
      & > .fv-title {
        text-align: center;
      }
      & > .fv-value {
        color: $theme-color;
        width: 100%;
        font-weight: bold;
        display: block;
      }
    }
  }
}
