fv-content
  div(:class="$root.mainClass")
    doc-description
      | To creating sidebar inside 
      a.fv-link(@click="$router.push(`/components/fvMain`)") fvMain
      | , use this component. 
    doc-example
      fv-sidebar(ref="pinnedright", :pin="true", position="right")
        h3.fv-text-center.fv-padding I'm Pinned at Right!
      fv-sidebar(ref="unpinnedleft", :pin="false", position="left")
        h3.fv-text-center.fv-padding I'm Unpinned at Left!
      fv-sidebar(ref="unpinnedleftmodifiedwidth", :pin="false", position="left", :width="100")
        h3.fv-text-center.fv-padding I've modified Width!
      fv-content.fv-row
        fv-button.fv-block.fv-warning(@click.native="$refs.pinnedright.toggle()") Toggle Pinned at Right
        br
        fv-button.fv-block.fv-primary(@click.native="$refs.unpinnedleft.toggle()") Toggle Unpinned at Left
        br
        fv-button.fv-block.fv-danger(@click.native="$refs.unpinnedleftmodifiedwidth.toggle()") Modified Width
    doc-code
      = "<fv-sidebar>\n"
      = "\t<!-- contents -->\n"
      = "</fv-sidebar>\n"
    doc-api(:rows="api")
