body .sidebar {
  & .fv-header {
    & .doc-logo{
      height: 90px;
      display: block;
    }
    & .fv-title h1 {
      font-size: 2em;
    }
    & * {
      color: #35485d;
      line-height: 1.3em;
    }
  }
  & .fv-tabs {
    height: auto;
  }
  & .fv-list {
    & .fa {
      font-size: 1.3em;
      margin-right: 5px;
    }
    & .fv-item.selected {
      background: rgba(255, 255, 255, .1);
    }
  }
}
