body .sidebar {
  & .fvlogo,
  & .fvtext {
    display: inline-block;
    vertical-align: middle;
  }

  & .fvlogo {
    height: 27px;
  }

  & .fv-tabs {
    height: auto;
  }

  & .fv-list {
    & .fa {
      font-size: 1.3em;
      margin-right: 5px;
    }

    & .fv-item.selected {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
