body .sidebar {
  & .fv-header {
    background: #313840;
    & .doc-logo{
      height: 90px;
      display: block;
    }
    & .fv-title h1 {
      font-size: 2em;
    }
    & * {
      line-height: 1.3em;
    }
  }
  & .fv-tabs {
    height: auto;
  }
  & .fv-list {
    & .fa {
      font-size: 1.3em;
      margin-right: 5px;
    }
    & .fv-item.selected {
      background: rgba(255, 255, 255, .1);
    }
  }


  & .doc-sidebar-header-enter-active,
  & .doc-sidebar-header-leave-active {
    transition: all .5s;
  }
  & .doc-sidebar-header-enter,
  & .doc-sidebar-header-leave-active {
    height: 0 !important;
    max-height: 0 !important;
    min-height: 0 !important;
  }
}
