fv-main#app
  fv-header
    fv-button.fv-primary.fv-icon.fv-hide-on-lg(@click.native="$refs.sidebar.toggle()")
      i.fa.fa-bars
    .fv-title
      h2.fv-no-wrap {{$route.name}}
  fv-sidebar.sidebar(:pin="null", ref="sidebar", :width="300")
    fv-header(:height="150")
      .fv-title.fv-text-center
        h1 Framevuerk
        p.fv-word-wrap Awesome fully responsive Vue.js framevuerk!
    fv-tabs(:tabs="sidebarTabs")
      fv-list.no-outline-border(:items="sidebarItems", slot="components")
  router-view
  fv-footer
    .fv-grow
    a
      i.fa.fa-2x.fa-github 
