fv-main#app
  fv-header
    fv-button.fv-icon.fv-hide-on-lg(@click.native="$refs.sidebar.toggle()")
      i.fa.fa-bars
    .fv-title
      h2.fv-no-wrap(v-if="$route.name !== 'welcome'") {{$route.name}}
      h2.fv-no-wrap(v-else) Framevuerk
    .fv-icon
      a.fv-link(:href="$root.githubRepo + '/tree/master/src/components/' + $route.name",
        target="_blank") View Source
  router-view.fv-row
  fv-sidebar.sidebar(:pin="null", ref="sidebar", :width="270")
    fv-header.doc-sidebar-header(:height="250")
      a.fv-title.fv-text-center(href="index.html")
        img.doc-logo(src="./logo-white.svg")
        h1 Framevuerk
        p.fv-word-wrap Awesome fully responsive Vue.js framevuerk!
    fv-tabs(:tabs="sidebarTabs")
      fv-list.fv-no-border(:items="sidebarItems", expanded, slot="components")
