fv-main#app
  fv-header
    fv-button(@click="$refs.sidebar.toggle()")
      i.fa.fa-bars
    .title
      h2.fv-no-wrap(v-if="$route.name !== 'welcome'") {{$route.name}}
      h2.fv-no-wrap(v-else) Framevuerk
    a.fv-link(v-if="$route.path.indexOf('/components') !== -1 && $route.path.indexOf('+') === -1", :href="$root.githubRepo + '/tree/master/src/components/' + $route.name",
      target="_blank") View Source
  router-view.fv-row
  fv-sidebar.sidebar(:pin="null", ref="sidebar", width="300px")
    fv-header.doc-sidebar-header
      a.fv-link.title(href="index.html")
        h1
          img.doc-logo(src="./logo.svg")
          span Framevuerk
    fv-content.fv-no-padding
      fv-list.fv-no-border(parent)
        fv-list-item(v-for="item in sidebarItems",
          :selected="$route.name === item.text",
          @click="clickItem(item)",
          expanded)
          | {{item.text}}
          fv-list(v-if="item.items",
            slot="sub-list")
            fv-list-item(v-for="subItem in item.items",
              :selected="$route.name === subItem.text",
              @click="clickItem(subItem)",
              expanded)
              | {{subItem.text}}
              fv-list(v-if="subItem.items",
                slot="sub-list",
                expanded)
                fv-list-item(v-for="subItemItem in subItem.items",
                  :selected="$route.name === subItemItem.text",
                  @click="clickItem(subItemItem)")
                  | {{subItemItem.text}}
