fv-content
  div(:class="$root.mainClass")
    doc-description
      h2 Globals:
      | Just add <a class="fv-link" href="https://cdn.jsdelivr.net/npm/framevuerk@latest/dist/framevuerk-en.js">https://cdn.jsdelivr.net/npm/framevuerk@latest/dist/framevuerk-en.js</a> to your page with script tag and use it!
    doc-code(v-pre, title="HTML:")
      = "<html>\n"
      = "\t<head>\n"
      = "\t\t...\n"
      = "\t</head>\n"
      = "\t<body>\n"
      = "\t\t...\n"
      = "\t\t<script src=\"https://cdn.jsdelivr.net/npm/vue@2.4.4/dist/vue.min.js\"></script>\n"
      = "\t\t<script src=\"https://cdn.jsdelivr.net/npm/framevuerk@latest/dist/framevuerk-en.js\"></script>\n"
      = "\t\t<fv-main id=\"app\">\n"
      = "\t\t\t<!-- Your Content -->\n"
      = "\t\t</fv-main>\n"
      = "\t\t<script>\n"
      = "\t\t\tVue.use(framevuerk);\n"
      = "\t\t\tnew Vue({\n"
      = "\t\t\t\tel: \"#app\"\n"
      = "\t\t\t});\n"
      = "\t\t</script>\n"
      = "\t</body>\n"
      = "</html>\n"
    doc-description
      a.fv-link(href="https://jsfiddle.net/nainemom/vhLkyg5u/", target="_blank") Example
    doc-description
      h2 CommonJS:
    doc-code(v-pre, title="JS:")
      = "var Vue = require('vue');\n"
      = "var framevuerk = require('framevuerk');\n"
      = "\n"
      = "Vue.use(framevuerk);"
      = "\n"
      = "new Vue({\n"
      = "\tel: \"#app\"\n"
      = "});"
    doc-code(v-pre, title="Template:")
      = "<html>\n"
      = "\t<head>\n"
      = "\t\t...\n"
      = "\t</head>\n"
      = "\t<body>\n"
      = "\t\t...\n"
      = "\t\t<fv-main id=\"app\">\n"
      = "\t\t\t<!-- Your Content -->\n"
      = "\t\t</fv-main>\n"
      = "\t</body>\n"
      = "</html>\n"
    doc-description
      h2 ES6 (and pug):
    doc-code(v-pre, title="JS:")
      = "import Vue from 'vue'\n"
      = "import framevuerk from 'framevuerk'\n"
      = "\n"
      = "Vue.use(framevuerk);"
      = "\n"
      = "new Vue({\n"
      = "\tel: \"#app\"\n"
      = "});"
    doc-code(v-pre, title="Template (pug):")
      = "fv-main#app\n"
      = "\t // Your Content"
    | You are now config a simple app to use <b>Framevuerk</b>! Let's go to use our components. 
    
