@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-switch {
  background: $shadow-color-light;
  border: solid 1px $shadow-color;
  border-radius: 25px;
  cursor: pointer;
  direction: $direction;
  display: inline-block;
  height: 2em;
  margin: .9em 0;
  padding: .1em;
  vertical-align: middle;
  width: 3.8em;
  & > .fv-handler {
    background: $bg-color-light;
    border: solid 1px $shadow-color;
    border-radius: 25px;
    box-shadow: 0 1px 4px $shadow-color;
    display: inline-block;
    height: 100%;
    width: calc(1.8em - 2px);
  }
  &.on {
    background: $theme-color-light;
    & > .fv-handler {
      border: solid 1px $shadow-color-light;
      margin-#{$block-start}: 1.8em;
    }
  }
  &:focus,
  &.focus {
    @include outline;
    &:invalid,
    &.invalid {
      @include outline($danger-color);
    }
  }
  &[disabled],
  &.disabled {
    @include disabled;
  }
}
