@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-switch {
    width: 3.2em;
    background: $gray-color;
    border: solid 1px $gray-color-dark;
    border-radius: #{$border-radius * 6};
    padding: 0;
    display: inline-block;
    height: 1.2em;
    margin: .9em 0;
    vertical-align: middle;
    direction: $direction;
    cursor: pointer;
    & > .fv-handler {
        width: 1.8em;
        height: 1.8em;
        display: inline-block;
        background: $gray-color-light;
        margin: calc(-.3em - 1px);
        border-radius: 25px;
        box-shadow: 0 1px 4px $shadow-color;
        border: solid 1px $shadow-color;
    }
    &.on {
        background: rgba($theme-color-light, .8);
        & > .fv-handler {
            background: $theme-color;
            margin-#{$block-start}: 1.65em;
        }
    }
    &:focus,
    &.focus {
        @include outline;
        &:invalid,
        &.invalid {
            @include outline($danger-color);
        }
    }
    &[disabled],
    &.disabled {
        @include disabled;
    }
}
