span(class="fv-switch-container")
    span(class="fv-switch", :class="{on: onValue === value, invalid: invalid, focus: focus}", ref="switch", @click="pToggle(); focus=true;", tabindex="0", @focus="focus=true", @blur="focus=false", @keydown="pKeyDown($event)")
        span.fv-handler
        input.fv-hide(type="checkbox", :required="required", :checked="onValue === value", @invalid.prevent="pFocus()", @focus.prevent="pFocus()")