fv-main.fv-slider
  fv-header(v-if="showTabs",
    height="3.5em")
    fv-button.fv-sm.fv-grow(v-for="(i, slot) in $slots",
      :class="{'fv-selected': value === slot}",
      @click.prevent="setValue(slot)")
      slot(v-if="$scopedSlots.button", :value="slot", name="button")
      span(v-else) {{slot}}
  fv-content.slider-page
    transition(:name="animationName")
      fv-content.slider-page(v-for="(i, slot) in $slots",
        :key="slot",
        ref="slot",
        v-if="slot === value")
        slot(:name="value")
  fv-button.fv-xl.next(v-if="showButtons",
    @click.prevent="moveSlide(true)",
    :icon="'fa fa-chevron-'+dirs.prev")
  fv-button.fv-xl.prev(v-if="showButtons",
    @click.prevent="moveSlide(false)",
    :icon="'fa fa-chevron-'+dirs.next")
  ul.nav(v-if="showNavs")
    li(v-for="(i, slot) in $slots", @click.prevent="setValue(slot)", :class="{selected: value === slot}")
