fv-main.fv-slider
  fv-header(v-if="showTabs",
    height="3.5em")
    fv-button.fv-sm.fv-grow(v-for="item in items",
      :key="item",
      :class="{'fv-selected': value === item}",
      @click.prevent="$emit('input', item)",
      v-html="item")
  transition-group(:name="animationName")
    fv-content.fv-slider-page(
      v-for="page in pages",
      :key="page",
      v-if="page[0] === value")
      div(:style="{width: itemWidth, display: 'inline-block'}", v-for="slot in page")
        slot(:name="slot")
  fv-button.fv-xl.next(v-if="showButtons", @click.prevent="moveSlide(1)", v-html="nextPageBtnContent")
  fv-button.fv-xl.prev(v-if="showButtons", @click.prevent="moveSlide(-1)", v-html="prevPageBtnContent")
  ul.nav(v-if="showNavs")
    li(v-for="item in items", @click="$emit('input', item)", :class="{selected: value === item}")
