fv-content
  div(:class="$root.mainClass")
    doc-description
      | To creating image(s) element, use this component. Note that before using this, you can add 
      a.fv-link(href="http://hammerjs.github.io/", target="_blank") HammerJs
      |  as dependency of framevuerk to allow touch actions.
    doc-code(title="Javascript:", lang="javascript")
      = "import framevuerk from 'framevuerk'\n"
      = "import Hammer from 'hammerjs'\n"
      = "framevuerk.use(Hammer)\n"
    doc-code
      = "<fv-img></fv-img>"
    doc-example
      .fv-padding
        h4 Default Single Src:
        fv-img(src="01.jpg")
        br
        h4 Multiple src:
        fv-img(:src="['06.jpg', '07.jpg', '08.jpg']")
        br
        h4 With captions, interval and without nav:
        fv-img(:src="[{image: '01.jpg', caption: 'Better Call Saul 2015'}, {image: '02.jpg', caption: 'Mr Robot 2015'}, {image: '03.jpg', caption: 'Game of Thrones 2011'}, {image: '04.jpg', caption: {text: 'Sherlock 2010', class: 'center'}}, {image: '05.jpg', caption: 'The Walking Dead 2010'}]", :nav="false", :interval="2000")
    doc-api(:rows="api")
