fv-content
  div(:class="$root.mainClass")
    doc-description
      | To creating image(s) element, use this component. Note that before using this, you can add 
      a.fv-link(href="http://hammerjs.github.io/", target="_blank") HammerJs
      |  as dependency of framevuerk to allow touch actions.
    doc-code(title="Javascript:", lang="javascript")
      = "import framevuerk from 'framevuerk'\n"
      = "import Hammer from 'hammerjs'\n"
      = "framevuerk.use(Hammer)\n"
    doc-code
      = "<fv-img></fv-img>"
    doc-example
      .fv-padding
        h4 Default Single Src:
        fv-img(src="01.jpg")
        br
        h4 Multiple src:
        fv-img(:src="['06.jpg', '07.jpg', '08.jpg']")
    doc-api(:rows="api")
