fv-dialog.fv-menu(ref="menu",
  content-class="fv-no-padding",
  :position="pSheet? 'bottom': 'center'",
  :title="title",
  @click="pFocus('search')",
  @keydown="pKeyDown($event)",
  @close="$emit('close'); pFocus('input');",
  @open="$emit('open')")
  span(tabindex="0",
    ref="justFocusEl")
  fv-list.no-outline-border(:items="pOptions",
    @click-item="clickOption($event)",
    @click="pFocus()")
