span(@click="close()")
    transition(name="fv-fade")
        div(class="fv-overlay fv-light", v-show="pShow")
    transition(name="fv-menu")
        div(class="fv-menu", v-show="pShow", ref="pMenu")
            span(tabindex="0", ref="justFocusEl", @blur="close()", @keydown="pKeyDown($event)")
            div(v-for="option in pOptions", class="fv-menu-item", :class="{'fv-disabled': option.disabled, 'fv-focused': highlightedOption==option.index}", @click="clickOption(option)")
                i(v-if="option.icon", :class="option.icon")
                span(v-html="option.text")