span
    transition(name="fv-fade")
        div(class="fv-overlay", v-show="pShow", @click="close()")
    transition(:name="animationName")
        div(class="fv-menu", :class="sheet? 'fv-sheet': ''", v-show="pShow", ref="pMenu")
            span(tabindex="0", ref="justFocusEl", @keydown="pKeyDown($event)")
            div(v-for="option in pOptions", class="fv-menu-item", :class="{'fv-disabled': option.disabled, 'fv-focused': highlightedOption==option.index}", @click="clickOption(option)")
                i(v-if="option.icon", :class="option.icon")
                span(v-html="option.text")