fv-dialog.fv-menu(ref="dialog",
  content-class="fv-no-padding",
  :position="pSheet? 'bottom': 'center'",
  :title="title",
  @close="$emit('close')",
  @open="$emit('open')")
  fv-list.fv-no-border(:items="items",
    :param="param",
    @click-item="clickItem")
