fv-dialog.fv-menu(ref="dialog",
  :position="sheet === true? 'bottom': (sheet === false? 'center': 'center-bottom')",
  :title="title",
  @close="$emit('close')",
  @open="$emit('open')")
  fv-content.fv-no-padding
    fv-list.fv-no-border(:items="items",
      :param="param",
      @click-item="clickItem")
