fv-content
  div(:class="$root.mainClass")
    doc-description
      | To create radio buttons or check boxes in your application, use this!
    doc-code
      = "<fv-cehck></fv-check>"
    doc-example
      .fv-row
        .fv-col-sm-6
          p Check Box
          fv-check(v-model="inputs.d1", :options="['A.C. Milan', 'Juventus', 'Inter Milan']", multiple)
        .fv-col-sm-6
          p Radio + Required
          fv-check(v-model="inputs.d2", :options="['Amir', 'Farzad', 'Jeff']", required)
        .fv-col-sm-6
          p Option Disabled
          fv-check(v-model="inputs.d3", :options="['Ghazvin', {value: 'Tehran', disabled: true}, {value: 'Qom', disabled: true}]", multiple)
        .fv-col-sm-3
          p Disabled
          fv-check(v-model="inputs.d4", :options="['Ronaldo', 'Messi']", disabled)
    doc-api(:rows="api")
