@import './variables';
@import './functions';
@import './mixins';

html,
html > body {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow: hidden;
}

html > body {
  direction: $direction;
  font-family: sans-serif;
  width: 100%;
}

.fv-block {
  display: block !important;
  width: 100%;
}

.fv-flex {
  display: flex !important;
}

.fv-inline-block {
  display: inline-block !important;
}

.fv-inline {
  display: inline !important;
}

.fv-full-width {
  width: 100% !important;
}

.fv-hide {
  display: none !important;
}

.fv-hidden {
  border: 0 !important;
  display: inline-block !important;
  height: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  outline: none !important;
  padding: 0 !important;
  position: absolute !important;
  width: 0 !important;
}

.fv-overlay {
  background: $shadow-color-dark;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
  animation-name: fv-overlay;
  animation-duration: $transition-speed;
  will-change: opacity;
  animation-iteration-count: 1;
}
@keyframes fv-overlay {
  from   {
    opacity: 0;
  }
  to  {
    opacity: 1;
  }
}


.fv-link {
  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $primary-color-light;
    cursor: pointer;
    text-decoration: none;
  }
}

.fv-hr {
  background: transparent;
  border-bottom: 0;
  border-top: solid 1px $shadow-color;
  height: 0;
  width: 100%;
}

.fv-text-center {
  text-align: center !important;
}

.fv-text-right {
  text-align: right !important;
}

.fv-text-end {
  text-align: $block-end !important;
}

.fv-text-left {
  text-align: left !important;
}

.fv-text-start {
  text-align: $block-start !important;
}

.fv-text-justify {
  text-align: justify !important;
}

.fv-rtl {
  direction: rtl !important;
}

.fv-ltr {
  direction: ltr !important;
}

.fv-grow {
  flex-grow: 1 !important;
}

.fv-padding {
  padding: $padding !important;
}

.fv-margin {
  margin: $padding !important;
}

@each $direction in '', 'vertical-', 'horizontal-' {
  @each $property in 'margin', 'padding' {
    .fv-no-#{$direction}#{$property} {
      @if $direction == '' {
        #{$property}: 0 !important;
      }

      @else if $direction == 'vertical-' {
        #{$property}-top: 0 !important;
        #{$property}-bottom: 0 !important;
      }

      @else if $direction == 'horizontal-' {
        #{$property}-left: 0 !important;
        #{$property}-right: 0 !important;
      }
    }

    @each $size in '', '-small' {
      $val: $padding;

      @if $size == '-small' {
        $val: $padding / 2;
      }

      .fv-#{$direction}#{$property}#{$size} {
        @if $direction == '' {
          #{$property}: $val !important;
        }

        @else if $direction == 'vertical-' {
          #{$property}-top: $val !important;
          #{$property}-bottom: $val !important;
        }

        @else if $direction == 'horizontal-' {
          #{$property}-left: $val !important;
          #{$property}-right: $val !important;
        }
      }
    }
  }
}

.fv-vertical-middle {
  vertical-align: middle !important;
}

.fv-pull-left {
  float: left !important;
}

.fv-pull-right {
  float: right !important;
}

.fv-pull-start {
  float: $block-start !important;
}

.fv-pull-end {
  float: $block-end !important;
}

.fv-clear-both {
  clear: both !important;
}

.fv-pointer {
  cursor: pointer !important;
}

.fv-word-wrap {
  white-space: normal !important;
}

.fv-no-wrap {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.fv-text-gray {
  color: $color-light !important;
}

.fv-text-primary {
  color: $primary-color !important;
}

.fv-text-secondary {
  color: $secondary-color !important;
}

.fv-text-info {
  color: $info-color !important;
}

.fv-text-danger {
  color: $danger-color !important;
}

.fv-text-warning {
  color: $warning-color !important;
}

.fv-text-light {
  color: $color-light !important;
}

.fv-text-dark {
  color: $color-dark !important;
}

.fv-control-label {
  @include nowrap;

  color: $color-light;
  display: block;
  max-width: 100%;
  min-height: 1px;
}

.fv-form-control-group {
  @include shadow(bottom);

  border: solid 1px contrast($bg-color, 2, hard-dark);
  border-radius: $border-radius;
  clear: both;
  padding: #{$padding / 2};

  & > .fv-control-label {
    padding: inherit;
  }
}

.fv-radius {
  border-radius: $border-radius !important;
}

.fv-no-radius {
  border-radius: 0 !important;
}

.fv-border {
  border: solid 1px contrast($bg-color, 2, hard-dark) !important;
}

.fv-no-border {
  border: 0 !important;
}

.fv-shadow {
  @include shadow(bottom);
}

.fv-no-shadow {
  box-shadow: none !important;
}

.fv-input-group {
  display: inline-block;

  & > * {
    margin: 0 #{$padding-small / 2};
  }

  & > *:first-child {
    margin-#{$block-start}: 0;
  }

  & > *:last-child {
    margin-#{$block-end}: 0;
  }
}

.fv-no-transition {
  transition: 0s !important;
}

.fv-fast-animation {
  animation-duration: 0.6s !important;
}

.fv-fade-enter-active,
.fv-fade-leave-active {
  opacity: 1;
  transition-duration: $transition-speed;
  transition-property: opacity;
}

.fv-fade-enter,
.fv-fade-leave-active {
  opacity: 0;
}

.fv-form-control {
  display: inline-block;
  font-family: inherit;
  max-width: 100%;
  width: 100%;
}
