$width-1: 8.33333333333333333333333%;
@import './variables';
@import './mixins';

.fv-row {
  clear: both;
  padding: #{$padding / 2};
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

[class*='fv-col'] {
  display: inline-block;
  padding: #{$padding / 2};
  width: 100%;
}

@each $media in xs, sm, md, lg, xl {
  @include respond-to($media) {
    @for $i from 1 to 12 {
      .fv-col-#{$media}-#{$i} {
        width: #{$width-1 * $i};
      }
      .fv-col-offset-#{$media}-#{$i} {
        margin-#{$block-start}: #{$width-1 * $i};
      }
    }
    .fv-hide-on-#{$media} {
      display: none !important;
    }
  }
  @include respond-to(only-#{$media}) {
    .fv-hide-on-only-#{$media} {
      display: none !important;
    }
  }
}
