$width-1: 8.33333333333333333333333%;
@import './variables';
@import './mixins';

.fv-row {
  display: flex;
  flex-wrap: wrap;
  padding: #{$padding / 2};
}

[class*='fv-col'] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 1px;
  padding: $padding / 2;
  position: relative;
}

@for $j from 1 through 12 {
  .fv-col-#{$j} {
    flex: 0 0 #{$width-1 * $j};
    max-width: #{$width-1 * $j};
  }
}

@each $media in 'xs', 'sm', 'md', 'lg', 'xl' {
  @include respond-to($media) {
    @for $i from 1 through 12 {
      .fv-col-#{$media}-#{$i} {
        flex: 0 0 #{$width-1 * $i};
        max-width: #{$width-1 * $i};
      }
      .fv-col-offset-#{$media}-#{$i} {
        margin-#{$block-start}: #{$width-1 * $i};
      }
    }
    $i: 0;
    .fv-col-#{$media}-#{$i} {
      display: none !important;
    }
  }
  @include respond-to(only-#{$media}) {
    @for $i from 1 through 12 {
      .fv-col-only-#{$media}-#{$i} {
        flex: 0 0 #{$width-1 * $i};
        max-width: #{$width-1 * $i};
      }
      .fv-col-offset-only-#{$media}-#{$i} {
        margin-#{$block-start}: #{$width-1 * $i};
      }
    }
    $i: 0;
    .fv-col-only-#{$media}-#{$i} {
      display: none !important;
    }
  }
  @include respond-to(lower-#{$media}) {
    @for $i from 1 through 12 {
      .fv-col-lower-#{$media}-#{$i} {
        flex: 0 0 #{$width-1 * $i};
        max-width: #{$width-1 * $i};
      }
      .fv-col-offset-lower-#{$media}-#{$i} {
        margin-#{$block-start}: #{$width-1 * $i};
      }
    }
    $i: 0;
    .fv-col-lower-#{$media}-#{$i} {
      display: none !important;
    }
  }
}
