@import './variables';
@import './functions';
@import './mixins';

// --------------
// Hidden Classes
// --------------
.fv-hidden {
  display: none !important;
}

@each $media in 'xs', 'sm', 'md', 'lg', 'xl' {
  @include respond-to(only-#{$media}) {
    .fv-hidden-#{$media} {
      display: none !important;
    }
  }
}

// --------------------------
// Margin and Padding Classes
// --------------------------
@each $property in 'margin', 'padding' {
  .fv-#{$property} {
    #{$property}: padding(md) !important;
  }

  .fv-#{$property}-sm {
    #{$property}: padding(sm) !important;
  }

  .fv-no-#{$property} {
    #{$property}: 0 !important;
  }

  @each $direction in 'start', 'end', 'top', 'bottom' {
    .fv-#{$property}-#{$direction} {
      @if $direction == 'start' {
        #{$property}-#{$block-start}: padding(md) !important;
      }

      @else if $direction == 'end' {
        #{$property}-#{$block-end}: padding(md) !important;
      }

      @else {
        #{$property}-#{$direction}: padding(md) !important;
      }
    }

    .fv-#{$property}-#{$direction}-sm {
      @if $direction == 'start' {
        #{$property}-#{$block-start}: padding(sm) !important;
      }

      @else if $direction == 'end' {
        #{$property}-#{$block-end}: padding(sm) !important;
      }

      @else {
        #{$property}-#{$direction}: padding(sm) !important;
      }
    }
  }
}

// --------------
// Border Classes
// --------------
.fv-border {
  border: border(md) !important;
}

.fv-no-border {
  border: 0 !important;
}

@each $direction in 'start', 'end', 'top', 'bottom' {
  .fv-border-#{$direction} {
    @if $direction == 'start' {
      border-#{$block-start}: border(md) !important;
    }

    @else if $direction == 'end' {
      border-#{$block-end}: border(md) !important;
    }

    @else {
      border-#{$direction}: border(md) !important;
    }
  }
}

// -------------
// Color Classes
// -------------
@each $key in 'bg', 'text' {
  $prop: 'color';

  @if $key == 'bg' {
    $prop: 'background';
  }

  .fv-#{$key}-primary {
    #{$prop}: $primary-color !important;
  }

  .fv-#{$key}-secondary {
    #{$prop}: $secondary-color !important;
  }

  .fv-#{$key}-info {
    #{$prop}: $info-color !important;
  }

  .fv-#{$key}-danger {
    #{$prop}: $danger-color !important;
  }

  .fv-#{$key}-warning {
    #{$prop}: $warning-color !important;
  }

  .fv-#{$key}-light {
    #{$prop}: $color-light !important;
  }

  .fv-#{$key}-dark {
    #{$prop}: $color-dark !important;
  }
}

// ------------------
// Text Align Classes
// ------------------
.fv-text-center {
  text-align: center !important;
}

.fv-text-end {
  text-align: $block-end !important;
}

.fv-text-start {
  text-align: $block-start !important;
}

.fv-text-left {
  text-align: left !important;
}

.fv-text-right {
  text-align: right !important;
}

.fv-text-justify {
  text-align: justify !important;
}

// ------------------
// Font Classes
// ------------------
.fv-font-mono {
  font-family: monospace;
}

// ------------------
// Direction Classes
// ------------------
.fv-dir-start {
  @if $block-start == 'right' {
    direction: rtl !important;
  }

  @else {
    direction: ltr !important;
  }
}

.fv-dir-end {
  @if $block-start == 'left' {
    direction: rtl !important;
  }

  @else {
    direction: ltr !important;
  }
}

.fv-ltr {
  direction: ltr !important;
}

.fv-rtl {
  direction: rtl !important;
}

// --------------
// Static Classes
// --------------

.fv-no-shadow {
  box-shadow: none !important;
}

.fv-shadow {
  box-shadow: shadow(bottom) !important;
}

.fv-no-radius {
  border-radius: 0 !important;
}

.fv-radius {
  border-radius: radius(md) !important;
}

.fv-no-wrap {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.fv-pull-start {
  float: $block-start !important;
}

.fv-pull-end {
  float: $block-end !important;
}

.fv-clear-both {
  clear: both !important;
}

.fv-pointer {
  cursor: pointer !important;
}

.fv-link {
  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $primary-color-light;
    cursor: pointer;
    text-decoration: none;
  }
}

.fv-hr {
  background: transparent;
  border-bottom: 0;
  border-top: solid 1px $shadow-color;
  height: 0;
  width: 100%;
}

.fv-block {
  display: block !important;
  width: 100%;
}

.fv-inline-block {
  display: inline-block !important;
}

.fv-inline {
  display: inline !important;
}

.fv-flex,
.fv-flex-row {
  display: flex !important;
  flex-direction: row;
}

.fv-flex-col {
  display: flex !important;
  flex-direction: column;
}

.fv-grow {
  flex-grow: 1 !important;
}

.fv-invalid {
  @include outline($danger-color);
}

.fv-disabled {
  @include disabled;
}
