@import './variables';
@import './functions';

@mixin outline($color: $primary-color) {
  z-index: 2;
  box-shadow: 0 #{$shadow-size} $shadow-size $shadow-color-light, 0 0 #{$shadow-size / 2} 1px $color;
  border-color: transparent;
  outline: none;
}

@mixin textoutline($color: $primary-color) {
  outline: none;
  text-shadow: 0 0 10px $color;
}

@mixin bottom-outline($color: $primary-color) {
  border-color: $color;
  z-index: 2;
  box-shadow: 1px 0 0 2px rgba($color, 0.4);
  outline: none;
}

@mixin nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin yiq($color, $percetange: 90%) {
  background: $color;
  color: yiq($color, $percetange);
}

@mixin disabled {
  opacity: 0.35;

  &,
  & * {
    cursor: not-allowed !important;
    user-select: none !important;
  }
}

@mixin vue-animation($selector, $on, $static: false) {
  @if $static == true {
    &.#{$selector}-#{$on} {
      @content;
    }
  }

  @else if $on == enter {
    &.#{$selector}-enter-active,
    &.#{$selector}-leave-active {
      @content;
    }
  }

  @else if $on == leave {
    &.#{$selector}-enter,
    &.#{$selector}-leave-active {
      @content;
    }
  }
}

@mixin sizes {
  height: auto;
  max-width: 100%;

  &.fv-rounded {
    border-radius: $border-radius-large;
  }

  &.fv-xs {
    font-size: 0.7em;
    min-height: 2.7em;
  }

  &.fv-sm {
    font-size: 0.9em;
    min-height: 2.85em;
  }

  &,
  &.fv-md {
    font-size: 1em;
    min-height: 3.1em;
  }

  &.fv-lg {
    font-size: 1.2em;
    min-height: 3.4em;
  }

  &.fv-xl {
    font-size: 1.4em;
    min-height: 3.5em;
  }
}

@mixin respond-to($media) {
  @if $media == all {
    @content;
  }

  @else if $media == xs {
    @media #{$media-xs} {
      @content;
    }
  }

  @else if $media == only-xs {
    @media #{$media-only-xs} {
      @content;
    }
  }

  @else if $media == lower-xs {
    @media #{$media-lower-xs} {
      @content;
    }
  }

  @else if $media == sm {
    @media #{$media-sm} {
      @content;
    }
  }

  @else if $media == only-sm {
    @media #{$media-only-sm} {
      @content;
    }
  }

  @else if $media == lower-sm {
    @media #{$media-lower-sm} {
      @content;
    }
  }

  @else if $media == md {
    @media #{$media-md} {
      @content;
    }
  }

  @else if $media == only-md {
    @media #{$media-only-md} {
      @content;
    }
  }

  @else if $media == lower-md {
    @media #{$media-lower-md} {
      @content;
    }
  }

  @else if $media == lg {
    @media #{$media-lg} {
      @content;
    }
  }

  @else if $media == only-lg {
    @media #{$media-only-lg} {
      @content;
    }
  }

  @else if $media == lower-lg {
    @media #{$media-lower-lg} {
      @content;
    }
  }

  @else if $media == xl {
    @media #{$media-xl} {
      @content;
    }
  }

  @else if $media == only-xl {
    @media #{$media-only-xl} {
      @content;
    }
  }

  @else if $media == lower-xl {
    @media #{$media-lower-xl} {
      @content;
    }
  }
}

@mixin shadow($to: bottom, $color: $shadow-color-light) {
  @if $to == bottom {
    box-shadow: 0 #{$shadow-size} $shadow-size $color;
  }

  @else if $to == inset-bottom {
    box-shadow: inset 0 #{$shadow-size} $shadow-size $color;
  }

  @else if $to == top {
    box-shadow: 0 #{-1 * $shadow-size} $shadow-size $color;
  }

  @else if $to == inset-top {
    box-shadow: inset 0 #{-1 * $shadow-size} $shadow-size $color;
  }

  @else if $to == right {
    box-shadow: #{$shadow-size} 0 $shadow-size $color;
  }

  @else if $to == inset-right {
    box-shadow: inset #{$shadow-size} 0 $shadow-size $color;
  }

  @else if $to == left {
    box-shadow: #{-1 * $shadow-size} 0 $shadow-size $color;
  }

  @else if $to == inset-left {
    box-shadow: inset #{-1 * $shadow-size} 0 $shadow-size $color;
  }
}
