// DEFINED FROM WEBPACK
// $env: production;
// $direction: rtl;
// $primary-color: #1f9cdd;
// $secondary-color: #35485d
@import './functions';


$direction: ltr;
$block-start: if($direction == rtl, right, left);
$block-end: if($direction == rtl, left, right);

$shadow-color: rgba(0, 0, 0, 0.2) !default;
$shadow-color-light: rgba(0, 0, 0, 0.05) !default;
$shadow-color-dark: rgba(0, 0, 0, 0.35) !default;



$footer-bg-color: black !default;
$header-bg-color: black !default;
$sidebar-bg-color: black !default;


// should be removed {

$transition-speed: 0.25s;
$transition-speed-fast: $transition-speed / 3;
$transition-speed-slow: $transition-speed * 1.7;

$bg-color: #f9f9f9 !default;
$bg-color-contrast: yiq($bg-color, 3%) !default;
$bg-color-contrast-more: yiq($bg-color, 20%) !default;
$bg-color-contrast-much-more: yiq($bg-color, 30%) !default;

$bg-color: #fff !default;
$bg-color-light: lighten($bg-color, 5%) !default;
$bg-color-dark: darken($bg-color, 3%) !default;

$color: yiq($bg-color) !default;
$color-light: lighten($color, 36%) !default;
$color-dark: darken($color, 5%) !default;

$night-bg-color: #383f47 !default;

$shadow-percent: 20%;
$shadow-percent-light: 5%;
$shadow-percent-dark: 35%;

$highlight-percent: 19%;
$highlight-percent-light: 6%;
$highlight-percent-dark: 35%;
$highlight-color: rgba(255, 255, 255, 0.19) !default;
$highlight-color-light: rgba(255, 255, 255, 0.06) !default;
$highlight-color-dark: rgba(255, 255, 255, 0.35) !default;

$gray-color: #f1f1f1 !default;
$gray-color-light: lighten($gray-color, 4%) !default;
$gray-color-dark: darken($gray-color, 18%) !default;

$primary-color: blue !default;
$primary-color-light: lighten($primary-color, 10%) !default;
$primary-color-dark: darken($primary-color, 10%) !default;

$secondary-color: purple !default;
$secondary-color-light: lighten($secondary-color, 10%) !default;
$secondary-color-dark: darken($secondary-color, 10%) !default;

$danger-color: red !default;
$danger-color-light: lighten($danger-color, 10%) !default;
$danger-color-dark: darken($danger-color, 5%) !default;

$warning-color: yellow !default;
$warning-color-light: lighten($warning-color, 10%) !default;
$warning-color-dark: darken($warning-color, 5%) !default;

$info-color: cyan !default;
$info-color-light: lighten($info-color, 10%) !default;
$info-color-dark: darken($info-color, 5%) !default;

$padding : 1em;
$padding-small: $padding / 2 !default;
$padding-large: $padding * 1.5 !default;

$border-radius: 4px;
$border-radius-small: $border-radius / 2;
$border-radius-large: $border-radius * 3;

// } should be removed

$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

$media-xs: '(min-width: 1px)';
$media-only-xs: '(min-width: 1px) and (max-width: #{$break-xs - 1})';
$media-lower-xs: '(min-width: 1px) and (max-width: #{$break-xs - 1})';
$media-sm: '(min-width: #{$break-xs})';
$media-only-sm: '(min-width: #{$break-xs}) and (max-width: #{$break-sm - 1})';
$media-lower-sm: '(min-width: 1px) and (max-width: #{$break-sm - 1})';
$media-md: '(min-width: #{$break-sm})';
$media-only-md: '(min-width: #{$break-sm}) and (max-width: #{$break-md - 1})';
$media-lower-md: '(min-width: 0px) and (max-width: #{$break-md - 1})';
$media-lg: '(min-width: #{$break-md})';
$media-only-lg: '(min-width: #{$break-md}) and (max-width: #{$break-lg - 1})';
$media-lower-lg: '(min-width: 0px) and (max-width: #{$break-lg - 1})';
$media-xl: '(min-width: #{$break-lg})';
$media-only-xl: '(min-width: #{$break-lg})';
$media-lower-xl: '(min-width: 0px)';
