// DEFINED FROM WEBPACK
// $env: production;
// $direction: rtl;
// $theme-color: #1f9cdd;
@import './functions';

$transition-speed: .25s;

$block-start: if($direction == rtl, right, left);
$block-end: if($direction == rtl, left, right);

$bg-color: #f9f9f9 !default;
$bg-color-light: lighten($bg-color, 4%) !default;
$bg-color-dark: darken($bg-color, 1%) !default;

$color: yiq($bg-color) !default;
$color-light: lighten($color, 18%) !default;
$color-dark: darken($color, 5%) !default;

$sidebar-bg-color: #383f47 !default;


$shadow-color: rgba(0, 0, 0, .1) !default;
$shadow-color-light: rgba(0, 0, 0, .05) !default;
$shadow-color-dark: rgba(0, 0, 0, .35) !default;

$highlight-color: rgba(255, 255, 255, .19) !default;
$highlight-color-light: rgba(255, 255, 255, .06) !default;
$highlight-color-dark: rgba(255, 255, 255, .35) !default;


$gray-color: #f1f1f1 !default;
$gray-color-light: lighten($gray-color, 4%) !default;
$gray-color-dark: darken($gray-color, 18%) !default;

$default-color: $bg-color !default;
$default-color-light: $bg-color-light !default;
$default-color-dark: $bg-color-dark !default;

//$theme-color: #1f9cdd !default;
$theme-color-light: lighten($theme-color, 10%) !default;
$theme-color-dark: darken($theme-color, 5%) !default;

$primary-color: $theme-color !default;
$primary-color-light: $theme-color-light !default;
$primary-color-dark: $theme-color-dark !default;

$danger-color: #dd4b39 !default;
$danger-color-light: lighten($danger-color, 10%) !default;
$danger-color-dark: darken($danger-color, 5%) !default;

$warning-color: #ef8f00 !default;
$warning-color-light: lighten($warning-color, 10%) !default;
$warning-color-dark: darken($warning-color, 5%) !default;

$info-color: #14b0cf !default;
$info-color-light: lighten($info-color, 10%) !default;
$info-color-dark: darken($info-color, 5%) !default;

$success-color: #55bb08 !default;
$success-color-light: lighten($success-color, 5%) !default;
$success-color-dark: darken($success-color, 5%) !default;




$padding: 15px !default;
$padding-small: 11px !default;
$padding-large: 25px !default;

$border-radius: 3px;
$border-radius-small: 2px;
$border-radius-large: 12px;



$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

$media-xs: '(min-width: 1px)';
$media-only-xs: '(min-width: 1px) and (max-width: #{$break-xs - 1})';
$media-sm: '(min-width: #{$break-xs})';
$media-only-sm: '(min-width: #{$break-xs}) and (max-width: #{$break-sm - 1})';
$media-md: '(min-width: #{$break-sm})';
$media-only-md: '(min-width: #{$break-sm}) and (max-width: #{$break-md - 1})';
$media-lg: '(min-width: #{$break-md})';
$media-only-lg: '(min-width: #{$break-md}) and (max-width: #{$break-lg - 1})';
$media-xl: '(min-width: #{$break-lg})';
$media-only-xl: '(min-width: #{$break-lg})';
