@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-header {
    @include yiq($theme-color);
    z-index: 9999;
    line-height: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px $shadow-color-light;
    width: 100%;
    top: 0;
    right: 0;
    transition-duration: $transition-speed;
    transition-property: height;
    &.fv-invert {
        @include yiq($bg-color, 70%);
        border-bottom: solid 1px $shadow-color;
        & .fv-icon,
        & .fv-button {
            @include yiq($bg-color, 70%);
            &:focus,
            &.focus {
                @include yiq($bg-color-dark, 70%);
                @include outline($bg-color-dark);
            }
            &:disabled,
            &.disabled {
                @include yiq($bg-color, 70%);
                @include disabled;
            }
        }
    }
    & > * {
        width: auto;
        max-width: 100%;
        vertical-align: middle;
        &.fv-icon,
        &.fv-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            border-radius: 0;
            height: 100%;
            padding: 0 1.3em;
        }
        &.fv-icon {
            font-size: 1.2em;
            & > * {
                vertical-align: middle;
            }
        }
        &.fv-form-control {
            margin: 0 $padding;
            background: $bg-color;
        }
        &.fv-title {
            padding: 0 $padding;
            flex-grow: 1;
            height: auto;
            & > * {
                @include nowrap;
                height: auto;
                width: 100%;
                margin: 0;
                padding: 4px 0;
            }
        }
    }
}
