@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-header {
  @include yiq($bg-color-dark);
  align-items: center;
  border-bottom: solid 1px $shadow-color-light;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  right: 0;
  top: 0;
  transition-duration: $transition-speed;
  transition-property: height;
  width: 100%;
  & > .fv-button,
  & > .fv-title,
  & > .title,
  & > * {
    @include nowrap;
    align-items: center;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    height: auto;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    padding: 0 $padding;
    vertical-align: middle;
    width: auto;
    &.fv-button {
      height: 100%;
      &.fv-button:active {
        background: $shadow-color-light;
        box-shadow: none;
        color: inherit;
      }
      &.fv-button:focus {
        @include textoutline($info-color-light);
        box-shadow: none;
        color: inherit;
      }
    }
    &.fv-title,
    &.title {
      flex-direction: column;
      flex-grow: 1;
      line-height: 1.3;
      & > * {
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
  }
}
