fv-content
  div(:class="$root.mainClass")
    doc-description
      | To create button in your application, use this!
    doc-code
      = "<fv-button></fv-button>"
    doc-example
      .fv-row
        .fv-col-xs-12 
          h4 Themes:
        .fv-col-sm-4
          fv-button.fv-block(icon="fa fa-check") Default
        .fv-col-sm-4
          fv-button.fv-ok.fv-block(icon="fa fa-check") OK
        .fv-col-sm-4
          fv-button.fv-primary.fv-block(icon="fa fa-check") Primary
        .fv-col-sm-4
          fv-button.fv-danger.fv-block(icon="fa fa-check") Danger
        .fv-col-sm-4
          fv-button.fv-warning.fv-block(icon="fa fa-check") Warning
        .fv-col-sm-4
          fv-button.fv-info.fv-block(icon="fa fa-check") Info
      .fv-row
        hr
        .fv-col-xs-12 
          h4 Sizes:
        .fv-col-sm-4
          fv-button.fv-xl.fv-block(icon="fa fa-check") XL
        .fv-col-sm-4
          fv-button.fv-lg.fv-block(icon="fa fa-check") LG
        .fv-col-sm-4
          fv-button.fv-md.fv-block(icon="fa fa-check") MD
        .fv-col-sm-4
          fv-button.fv-sm.fv-block(icon="fa fa-check") SM
        .fv-col-sm-4
          fv-button.fv-xs.fv-block(icon="fa fa-check") XS
      .fv-row
        .fv-col-xs-12 
          h4 States:
        .fv-col-sm-6
          p Focus (not available in small viewports)
          fv-button.focus.fv-block(icon="fa fa-check") Focus
        .fv-col-sm-6
          p Invalid
          fv-button.focus.invalid.fv-block(icon="fa fa-check") Invalid
        .fv-col-sm-6
          p Disabled
          fv-button.fv-block(disabled, icon="fa fa-check") Disabled
        .fv-col-sm-6
          p Loading
          fv-button.fv-block(loading, icon="fa fa-check")
        .fv-row
          hr
    doc-api(:rows="api")
