fv-content.fv-text-center
  div(:class="$root.mainClass")
    h1 Framevuerk
    p.fv-word-wrap Awesome fully responsive Vue.js framevuerk!
    br
    p Available on:
    a.doc-brand(:href="$root.githubRepo", target="_blank")
      img.doc-brand-logo(src="github.svg")
    a.doc-brand(:href="$root.npmRepo", target="_blank")
      img.doc-brand-logo(src="npm.svg")
