fv-content.fv-row(v-fv-scroll="true")
  .fv-col-lg-10.fv-col-offset-lg-1.fv-col-xl-8.fv-col-offset-xl-2
    h2(v-html="$route.name")
    doc-description This is main part of framevuerk. The #[a.fv-link fvHeader], #[a.fv-link fvFooter], #[a.fv-link fvContent] and #[a.fv-link fvSidebar] components usually uses this container for best styles matching. It`s easy. Look bellow:
    doc-api(:rows="{prop: [{name: 'height', type: 'Number', description: 'Height of viewport'}]}")
