fv-content
  div(:class="$root.mainClass")
    doc-description
      | To create switch in your application, use this! Note that before using this, you can add 
      a.fv-link(href="http://hammerjs.github.io/", target="_blank") HammerJs
      |  as dependency of framevuerk to allow touch actions.
    doc-code(title="Javascript:", lang="javascript")
      = "import framevuerk from 'framevuerk'\n"
      = "import Hammer from 'hammerjs'\n"
      = "framevuerk.use(Hammer)\n"
    doc-code
      = "<fv-switch></fv-switch>"
    doc-example
      .fv-row
        .fv-col-sm-3
          p Normal
          fv-switch(v-model="inputs.d1")
        .fv-col-sm-3
          p Invalid
          fv-switch.focus(invalid)
        .fv-col-sm-3
          p Disabled
          fv-switch.fv-block(disabled)
    doc-api(:rows="api")
