@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-tabs {
  & > .fv-header {
    background: transparent;
    box-shadow: none;
    color: inherit;
    & > .fv-tab-button {
      background: transparent;
      box-shadow: inset 0 0 0 $theme-color;
      color: inherit;
      cursor: pointer;
      font-weight: bold;
      height: 100%;
      max-width: 70%;
      text-align: center;
      transition-duration: .25s;
      transition-property: color, box-shadow;
      & i {
        padding-left: .3em;
      }
      &.fv-selected {
        border-bottom: solid 4px $theme-color;
        border-top: solid 4px transparent;
        color: $theme-color;
      }
    }
  }
}
