@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-tabs {
    & > .fv-header {
        background: transparent;
        color: inherit;
        & > .fv-tab-button {
            text-align: center;
            cursor: pointer;
            height: 100%;
            background: transparent;
            color: inherit;
            box-shadow: inset 0 0 0 $theme-color;
            transition-duration: .25s;
            transition-property: color, box-shadow;
            max-width: 70%;
            & i {
                padding-left: .3em;
            }
            &.fv-selected {
                box-shadow: inset 0 -4px 0 $theme-color;
                color: $theme-color;
            }
        }
    }
}
