fv-main.fv-tabs
  fv-header
    fv-button.fv-tab-button.fv-grow(v-for="tab in pTabs",
      :key="tab.slot",
      :class="{'fv-selected': tab.slot == pValue}",
      @click="changeTab(tab.slot)")
    i(v-if="tab.icon",
      :class="tab.icon")
    span(v-html="tab.title")
  fv-content.fv-no-padding.fv-tab(
    v-for="tab in pTabs",
    :key="tab.slot",
    v-show="tab.slot === pValue")
    slot(:name="tab.slot")
