@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-textarea {
  line-height: 1.3em;
  padding: 7.5px;
  &.auto-height {
    overflow-x: auto;
    resize: none;
  }
}
