fv-content
  div(:class="$root.mainClass")
    doc-description
      | This is the main part of framevuerk.
      a.fv-link(@click="$router.push(`/components/fvHeader`)") fvHeader
      | , 
      a.fv-link(@click="$router.push(`/components/fvFooter`)") fvFooter
      | , 
      a.fv-link(@click="$router.push(`/components/fvContent`)") fvContent
      |  and 
      a.fv-link(@click="$router.push(`/components/fvSidebar`)") fvSidebar
      |  components make use of this container for best styles matching. It's very simple as follows:
    doc-example
    doc-code(v-pre)
      = "<fv-main>\n"
      = "\t<!-- contents -->\n"
      = "</fv-main>\n"
    doc-api(:rows="api")
