fv-content
  div(:class="$root.mainClass")
    doc-description This is main part of framevuerk. The #[a.fv-link fvHeader], #[a.fv-link fvFooter], #[a.fv-link fvContent] and #[a.fv-link fvSidebar] components usually uses this container for best styles matching. It's easy. Look bellow:
    doc-example
    doc-code(v-pre)
      = "<fv-main>\n"
      = "\t<!-- contents -->\n"
      = "</fv-main>\n"
    doc-api(:rows="{}")
