fv-content
  div(:class="$root.mainClass")
    doc-description
      | To create file picker in your application, use this!
    doc-code
      = "<fv-filepicker></fv-filepicker>"
    doc-example
      .fv-row
        .fv-col-xs-12 
          h4 Usage:
        .fv-col-sm-6
          p Default:
          fv-filepicker(v-model="inputs.d1", type="blob")
          img(ref="img")
        .fv-col-sm-6
          p Type: file + Required:
          fv-filepicker(v-model="inputs.d2", required, type="file")
        .fv-col-sm-6
          p Multiple:
          fv-filepicker(v-model="inputs.d3", multiple)
        .fv-col-sm-6
          p Disabled:
          fv-filepicker(v-model="inputs.d4", disabled)
        .fv-col-sm-4
          p Type: blob + Thumbnail
          div(ref="img", v-show="inputs.d5", :style="{width: '100%', height: '120px', backgroundSize: '100% 100%'}")
          fv-filepicker(v-model="inputs.d5", @input="$refs.img.style.backgroundImage = `url('${URL.createObjectURL($event)}')`", type="blob", button-class="fv-block", default-text="Please select an image...")
    doc-api(:rows="api")
