@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-list-item {
  clear: both;
  overflow: hidden;
  & .content {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 3.5em;
    & > .text {
      flex-grow: 1;
      line-height: 1.3;
      padding: 0 $padding;
    }
    & .expand {
      background: transparent;
      border: 0;
      border-radius: 0;
      box-shadow: inset 0 0 0 $theme-color;
      color: inherit;
      cursor: pointer;
      font-weight: bold;
      height: 100%;
      max-width: 45px;
      min-width: 45px;
      padding: 0 $padding;
      width: 45px;
    }
  }
  & .sub-list {
    & > .fv-list {
      border-#{$block-end}: 0;
      border-#{$block-start}: solid 1em transparent;
      border-bottom: 0;
      border-top: 0;
      & > .fv-list-item:first-child {
        border-top: solid 1px $shadow-color-light;
      }
    }
    &.sub-list-enter-active,
    &.sub-list-leave-active {
      transform: translateX(0);
      transition-duration: $transition-speed;
      transition-property: opacity, transform;
      will-change: opacity, transform;
    }
    &.sub-list-enter,
    &.sub-list-leave-to {
      opacity: 0;
      transform: translateX(if($direction == 'ltr', -1em, 1em));
    }
  }
  &.disabled {
    @include disabled;
  }
  &.selected {
    @include yiq($theme-color);
  }
  &.highlighted {
    & > .content {
      background: $shadow-color-light;
    }
  }
}
