@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-list-item {
  clear: both;
  overflow: hidden;
  & .text {
    cursor: pointer;
    padding: $padding-small $padding;
    & .icon {
      margin-#{$block-end}: .4em;
    }
    & .expand {
      float: $block-end;
    }
  }
  & .fv-list {
    background: $shadow-color-light;
  }
  &.disabled {
    @include disabled;
  }
  &.selected {
    & > .text {
      @include yiq($theme-color);
    }
  }
  &.highlighted {
    & > .text {
      background: $shadow-color-light;
    }
    &.selected > .text {
      @include yiq($theme-color-dark);
    }
  }
}
