li.fv-list-item(:class="{'disabled': disabled, 'selected': selected, 'highlighted': highlighted}")
  .text(@click="click()")
    i.icon(:class="icon")
    span(v-html="text")
    span.expand(v-if="hasItems")
      i.fa(:class="{'fa-caret-down': !pExpanded,'fa-caret-up': pExpanded}")
  fv-list.no-outline-border(v-if="hasItems",
    ref="list",
    v-show="pExpanded",
    :items="items")
