li.fv-list-item(:class="{'disabled': disabled, 'selected': selected, 'highlighted': highlighted}")
  .content(@click="click($event, null)")
    span.text
      i.icon(v-if="icon", :class="icon")
      | {{text}}
    fv-button.expand(v-if="hasItems", @click="toggle()", tab-index="1")
      i.fa(:class="{'fa-caret-down': !pExpanded,'fa-caret-up': pExpanded}")
  fv-list(v-if="hasItems",
    ref="list",
    v-show="pExpanded",
    :items="items")
