span
  fv-button.fv-file-picker(@click.native.prevent="choose",
    :class="[buttonClass, {invalid: !fvValidate}]",
    :disabled="disabled",
    ref="button")
    i.fa(:class="{'fa-file': selected,'fa-file-o': !selected}")
    |  
    span(v-html="displayValue")
  input.fv-hide(type="file",
    ref="input",
    @change="pick()",
    :multiple="multiple",
    :required="required")
