fv-content
  div(:class="$root.mainClass")
    doc-description
      | To create full featured date-time picker based on your locale in your application, use this! Note that this is use 
      a.fv-link(@click="$router.push(`/components/fvInput`)") fvInput
      |  and 
      a.fv-link(@click="$router.push(`/components/fvDialog`)") fvDialog
      | .
      br
      | Note that before using this, you should add 
      a.fv-link(href="https://momentjs.com/", target="_blank") Moment
      |  as dependency of framevuerk.
    doc-code
      = "`javascript\n"
      = "import framevuerk from 'framevuerk'\n"
      = "import moment from 'moment' // or 'moment-jalaali'\n"
      = "framevuerk.use(moment)\n\n"
      = "`html\n"
      = "<fv-datepicker></fv-datepicker>"
    doc-example
      .fv-row
        .fv-col-xs-12 
          h4 Usage:
        .fv-col-sm-6
          p Default:
          fv-datepicker(v-model="inputs.d1", input-class="fv-block", placeholder="Pick your favorite time!")
        .fv-col-sm-6
          p Only Date Picker:
          fv-datepicker(v-model="inputs.d2", input-class="fv-block", placeholder="Pick your birthday", :pick="['year','month','day']", display-format="YYYY/MM/D")
        .fv-col-sm-6
          p Only Time Picker + Required:
          fv-datepicker(v-model="inputs.d3", required, input-class="fv-block", placeholder="Pick alarm time", :pick="['hour','minute']", display-format="HH:mm")
        .fv-col-sm-6
          p Custom:
          fv-datepicker(v-model="inputs.d4", required, input-class="fv-block", :pick="['month']", display-format="MMMM (MM)", placeholder="Select your favorite month")
        .fv-col-sm-6
          p Disabled:
          fv-datepicker(v-model="inputs.d5", disabled, input-class="fv-block", placeholder="You can't pick me!")
    doc-api(:rows="api")
