span
  h3 API
  fv-tabs(:tabs="tabs")
    div(v-for="tab in tabs", :slot="tab.slot")
      br
      fv-table.fv-no-border.doc-api-table(v-if="rows[tab.slot] && rows[tab.slot].length > 0",
        local,
        :fields="fields(tab.slot)",
        :footer="false",
        :rows="rows[tab.slot]",
        :clickable-rows="false")
      p.fv-text-center(v-else) No {{tab.title}} are available!
  br
