@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-input {
  @include yiq($bg-color-light);
  @include sizes;
  align-items: center;
  border: 1px solid $shadow-color;
  border-radius: $border-radius;
  box-shadow: inset 0 .3em .5em $shadow-color-light;
  display: flex;
  flex-direction: row;
  font-family: inherit;
  justify-content: space-between;
  padding: 0 7.5px;
  vertical-align: middle;
  &.fv-search-style {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: none;
    &:focus,
    &.focus {
      @include bottom-outline;
      &:invalid,
      &.invalid {
        @include bottom-outline($danger-color);
      }
    }
  }
  &:focus,
  &.focus {
    @include outline;
    &:invalid,
    &.invalid {
      @include outline($danger-color);
    }
  }
  &[disabled],
  &.disabled {
    @include disabled;
  }
  &::placeholder,
  & > .placeholder {
    color: $gray-color-dark;
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 75%;
  }
  &.fv-input-select,
  &.fv-input-datepicker {
    cursor: pointer;
    & > .fv-input-select-item {
      & > span {
        &:not(:last-child)::after {
          color: $gray-color-dark;
          content: ',';
          display: inline-block;
          padding-#{$block-end}: .3em;
          padding-#{$block-start}: .1em;
        }
      }
    }
    & > .fv-input-select-item-single {
      padding: 0 .5em;
    }
    & > .fv-caret-icon {
      float: $block-end;
      margin-left: .4em;
      margin-right: .4em;
    }
  }
}
