div(v-if="type=='select'", ref="inputEl", class="fv-input fv-input-select", :class="{invalid: invalid, focus:focus}", tabindex="0", @focus="checkInvalid(); $emit('focus', $event)", @click="$emit('click', $event)", @blur="$emit('blur', $event)", @keyup="$emit('keyup', $event)", @keydown="$emit('keydown', $event)", @keypress="$emit('keypress', $event)",@invalid.prevent="pFocus()")
    span(class="placeholder", v-html="placeholder", v-if="displayValue === null || displayValue.length === 0")
    span(v-for="val in displayValue", class="fv-input-select-item", v-html="val")
    i(class="fa fa-chevron-down fv-arrow")
    input(class="fv-hidden", tabindex="999999999", :value="value", :required="required", @focus="$refs.inputEl.focus()")
div(v-else-if="type=='datepicker'", ref="inputEl", class="fv-input fv-input-datepicker", :class="{invalid: invalid, focus:focus}", tabindex="0", @focus="checkInvalid(); $emit('focus', $event)", @click="$emit('click', $event)", @blur="$emit('blur', $event)", @keyup="$emit('keyup', $event)", @keydown="$emit('keydown', $event)", @keypress="$emit('keypress', $event)",@invalid.prevent="pFocus()")
    span(class="placeholder", v-html="placeholder", v-if="displayValue === null || displayValue.length === 0")
    span(class="fv-input-select-item", v-html="displayValue", v-if="displayValue!==null")
    i(class="fa fa-calendar fv-arrow")
    input(class="fv-hidden", tabindex="999999999", :value="value", :required="required", @focus="$refs.inputEl.focus()")
input(v-else, ref="inputEl", :type="type" class="fv-input", tabindex="0", :value="value", :required="required", :placeholder="placeholder", @input="$emit('input', $event.target.value)", @focus="$emit('focus', $event)", @click="$emit('click', $event)", @blur="$emit('blur', $event)", @keyup="$emit('keyup', $event)", @keydown="$emit('keydown', $event)", @keypress="$emit('keypress', $event)", @invalid.prevent="pFocus()")