@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-img {
  background: $color;
  display: inline-block;
  overflow: hidden;
  position: relative;
  & .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: move;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    & .caption {
      background: $shadow-color;
      border-radius: .6em;
      color: $bg-color;
      display: inline-block;
      font-size: 1.2em;
      font-weight: bold;
      padding: .2em .8em;
      position: absolute;
      text-align: center;
      &.center {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &.bottom {
        bottom: 1.7em;
        left: 50%;
        transform: translateX(-50%);
      }
      &.top {
        left: 50%;
        top: 1.7em;
        transform: translateX(-50%);
      }
    }
  }
  & .fv-button.next,
  & .fv-button.prev {
    background: $default-color;
    opacity: .6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    &.next {
      #{$block-end}: 0;
      border-#{$block-end}: 0;
      border-bottom-#{$block-start}-radius: .5em;
      border-top-#{$block-start}-radius: .5em;
      padding-#{$block-start}: .5em;
    }
    &.prev {
      #{$block-start}: 0;
      border-#{$block-start}: 0;
      border-bottom-#{$block-end}-radius: .5em;
      border-top-#{$block-end}-radius: .5em;
      padding-#{$block-end}: .5em;
    }
  }

  & .nav {
    bottom: 0;
    line-height: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 3;
    & li {
      background: $default-color;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      height: 10px;
      margin: .8em .2em;
      opacity: .6;
      width: 10px;
      &.selected {
        background: $theme-color;
        box-shadow: 0 0 15px $theme-color-light;
        cursor: default;
        opacity: 1;
      }
    }
  }
}


.fv-img-right-enter-active,
.fv-img-right-leave-active,
.fv-img-left-enter-active,
.fv-img-left-leave-active {
  transform: translateX(0);
  transition-duration: $transition-speed * 1.5;
  transition-property: transform, opacity;
}

.fv-img-right-leave-active,
.fv-img-right-leave-to,
.fv-img-left-leave-active,
.fv-img-left-leave-to {
  opacity: 0;
  z-index: 2;
}

.fv-img-right-leave-active,
.fv-img-right-leave-to {
  transform: translateX(50%);
}

.fv-img-left-leave-active,
.fv-img-left-leave-to {
  transform: translateX(-50%);
}
