@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-img {
  background: $color;
  & .fv-slider-page {
    margin-bottom: -6px;
  }
  & .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    pointer-events: none;
    user-select: none;
    width: 100%;
  }
}
