fv-slider.fv-img(v-model="value",
  :interval="interval",
  :show-tabs="false",
  :show-buttons="showButtons && images.length > 1",
  :show-navs="images.length > 1")
  img.img(v-for="image in images",
    draggable="false",
    :src="image",
    alt="fv-img",
    :slot="image")
