@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-table {
  & > table {
    border: solid 1px $shadow-color;
    border-spacing: 0;
    box-shadow: 0 1em 1em $shadow-color-light;
    cursor: default;
    max-width: 100%;
    width: 100%;
    &.tf-loading {
      opacity: .4;
    }
    & > thead {
      border-bottom: solid 1px $shadow-color-light;
      font-weight: bold;
    }
    & > tfoot {
      border-top: solid 1px $shadow-color-light;
    }
    & > thead > tr > th,
    & > tbody > tr > td,
    & > tfoot > tr > td {
      padding: $padding-small;
      text-align: center;
      vertical-align: middle;
    }
    & > tbody {
      @include yiq($bg-color-light);
      & > tr:nth-child(even) {
        & td {
          @include yiq(darken($bg-color-light, 2%));
        }
      }
    }
    & > tbody > tr {
      &.fv-clickable {
        cursor: pointer;
        &:active,
        &.fv-focused {
          & td {
            background: $shadow-color-light;
          }
        }
      }
    }
    & > thead > tr > th,
    & > tfoot > tr > td {
      @include nowrap;
      @include yiq($bg-color-dark);
    }

    & > tfoot > tr > td {
      & > * {
        line-height: 3em;
      }
    }
    & .page-control-continer {
      & > * {
        margin: 0 2px;
        width: auto;
      }
      & > .fv-input {
        text-align: center;
        width: 70px;
      }
    }

  }
}
