@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-table {
  border: solid 1px $shadow-color;
  border-spacing: 0;
  box-shadow: 0 1em 1em $shadow-color-light;
  cursor: default;
  max-width: 100%;
  width: 100%;
  & .fv-header {
    & > .field {
      flex-grow: 1;
      padding: $padding-small;
      text-align: center;
    }
  }
  & .fv-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    & > .row {
      align-items: center;
      display: flex;
      justify-content: space-between;
      &.fv-clickable {
        cursor: pointer;
        &:active,
        &.active {
          background: $shadow-color-light;
        }
      }
      & > .field {
        flex-grow: 1;
        padding: $padding-small;
        text-align: center;
      }
    }
    & > .row:nth-child(even) {
      @include yiq(darken($bg-color-light, 4%));
    }
  }
  & .fv-footer {
    .fv-button {
      flex-grow: 1;
    }
    & .fv-input {
      width: auto;
    }
  }
  &.fv-table-loading {
    opacity: .4;
  }
  & .menu-btn {
    background: transparent;
    border: 0;
    box-shadow: none;
    height: 1.6em;
    line-height: 1.6;
    max-height: 1.6em;
    max-width: 30px;
    min-height: 1.6em;
    min-width: 30px;
    padding: 0 $padding-small;
    width: 30px;
  }
}
