div.fv-table
    table(:class="{'tf-loading': loading}", @keydown="pKeyDown($event)")
        thead
            tr
                th(v-for="field in pFields", :class="field.class", v-html="field.text")
        tbody
            tr(v-for="(row, index) in pRows", :class="{'fv-clickable': clickableRows, 'fv-focused': highlightedRow==index && clickableRows}", ref="rowElem", @click="rowClick(row, index)")
                td(v-for="field in pFields", :class="field.class", v-html="row[field.value]")
        tfoot
            tr
                td(:colspan="pFields.length")
                    div.page-control-continer(v-if="paginate && !local")
                        fv-button(@click="fetch(nextPage)", :disabled="nextPage === false")
                            i.fa.fa-arrow-right
                            |  صفحه بعد
                        fv-input.fv-form-control(type="number", :value="page", :min="1", :max="totalPages", @input="setUserPage($event)", ref="userInputPage", :disabled="totalPages > 1")
                        span(v-if="totalPages !== false") از {{totalPages}}
                        fv-button(@click="fetch(previousPage)", :disabled="previousPage === false")
                            | صفحه قبل 
                            i.fa.fa-arrow-left