fv-content
  div(:class="$root.mainClass")
    doc-description
      | To create full featured select (dropdown) in your application, use this! Note that this is just alias for merging 
      a.fv-link(@click="$router.push(`/components/fvInput`)") fvInput
      |  and 
      a.fv-link(@click="$router.push(`/components/fvDialog`)") fvDialog
      | .
    doc-example
      .fv-row
        .fv-col-xs-12 
          h4 Usage:
        .fv-col-sm-6
          p Default:
          fv-select(v-model="inputs.d1", input-class="fv-block", :search="false", placeholder="Select your country", :options=['Iran', {text: 'Germany', value: 'ger'}, 'France'])
        .fv-col-sm-6
          p Multiple:
          fv-select(v-model="inputs.d2", multiple, input-class="fv-block", placeholder="Select your favorite Club", :options=['A.C. Milan', 'Real Madrid', 'Esteghlal', 'Al-Ahli'])
        .fv-col-sm-6
          p Allow insert:
          fv-select(v-model="inputs.d3", multiple, allow-insert, input-class="fv-block", placeholder="Select your favorite countries", :options=['USA', {text: 'USB', value: 'USB'}, 'USC'])
        .fv-col-sm-6
          p Disabled:
          fv-select(v-model="inputs.d4", disabled, input-class="fv-block", placeholder="You can't select me!")
    doc-code
      = "<fv-select></fv-select>"
    doc-api(:rows="api")
