fv-content
  div(:class="$root.mainClass")
    doc-description
      | To create switch in your application, use this!
    doc-code
      = "<fv-textarea></fv-textarea>"
    doc-example
      .fv-row
        .fv-col-sm-12
          p Normal
          fv-textarea.fv-form-control(v-model="inputs.d1", placeholder="Write something...")
        .fv-col-sm-12
          p Auto-height
          fv-textarea.fv-form-control(v-model="inputs.d2", auto-height, placeholder="Enter your message...")
    doc-api(:rows="api")
