@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-list {
  border: solid 1px $shadow-color;
  clear: both;
  & .fv-list-item:not(:last-child) {
    border-bottom: solid 1px $shadow-color-light;
  }
}
