ul(class="fv-list",
    @click="$emit('click', $event)"
)
    li(class="fv-item",
        v-for="item in pItems",
        :class="{'disabled': item.disabled, 'selected': item.selected, 'highlighted': item.highlighted}",
        @click="clickItem(item)"
    )
        i(v-if="item.icon",
            :class="item.icon"
        )
        =" "
        span(v-html="item.text")