ul.fv-list(:tabindex="pItems.length? 0: -1",
  @keydown="pKeyDown($event)",
  @focus="focused = true",
  @blur="focused = false")
  fv-list-item(v-for="(item, index) in pItems", 
    ref="items",
    :icon="item.icon || ''",
    :text="item.text || item || ''",
    :disabled="item.disabled || false",
    :selected="isSelected(item)",
    :highlighted="(item.highlighted || highlightedOption === index) && focused",
    :expanded="expanded || item.expanded || false",
    @click="clickItem(item, index)",
    :items="item.items || []")
