ul.fv-list(:tabindex="pItems.length && getFocus !== false? 0: ''",
  @keydown="keydown($event)",
  @focus="focused = true",
  @blur="focused = false")
  fv-list-item(v-for="(item, index) in pItems", 
    ref="items",
    :icon="item.icon || ''",
    :text="item.text || item || ''",
    :disabled="item.disabled || false",
    :selected="isSelected(item)",
    :highlighted="(item.highlighted || highlightedOption === index) && (getFocus? focused: false)",
    :expanded="expanded || item.expanded || false",
    @click="clickItem(item, index)",
    @mousedown.native="log(index); highlightedOption = index",
    :items="item.items || []")
  fv-list-item(v-show="!pItems.length",
    icon="fa fa-exclamation-triangle",
    :text="notFoundText")
