ul.fv-list
  fv-list-item(v-for="item in items",
    :icon="item.icon || ''",
    :text="item.text || ''",
    :disabled="item.disabled || false",
    :selected="item.selected || false",
    :highlighted="item.highlighted || false",
    :expanded="item.expanded || false",
    @click="clickItem(item)",
    :items="item.items || []")
