fv-content
  div(:class="$root.mainClass")
    doc-description
      | To create form in your application to handle inputs inside it, use this!
    doc-code
      = "<fv-form></fv-form>"
    doc-example
      fv-form.fv-row
        .fv-col-sm-4
          fv-check(v-model="inputs.d1", :options="['A.C. Milan', 'Juventus', 'Inter Milan']", multiple, required)
        .fv-col-sm-4
          fv-check(v-model="inputs.d2", :options="['Reza', 'Hashem', 'Omid']", required)
        .fv-col-sm-4
          fv-switch(v-model="inputs.d3", required)
        .fv-col-sm-12
          .fv-input-group.fv-flex
            fv-input.fv-grow(v-model="inputs.d4.value", :display-value="inputs.d4.displayValue", render-type="display", placeholder="I'm required!", required)
            fv-button(@click.native.prevent="inputs.d4.value = undefined; inputs.d4.displayValue = null;") Clear
            fv-button(@click.native.prevent="inputs.d4.value = new Date().getTime(); inputs.d4.displayValue = new Date(inputs.d4.value).getMilliseconds();") Change
        .fv-col-sm-12
          fv-input.fv-form-control(v-model="inputs.d5", placeholder="Enter your age", required)
        .fv-col-sm-12
          fv-textarea.fv-form-control(v-model="inputs.d6", auto-height, placeholder="Enter your message...", required)
        .fv-col-sm-12
          fv-button.fv-block(type="submit") Submit!
    doc-api(:rows="api")
