@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-main {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    transition-duration: $transition-speed;
    transition-property: padding;
}
