@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-main {
  @include yiq($bg-color);
  direction: $direction;
  display: flex;
  flex-direction: column;
  height: inherit;
  position: relative;
  width: inherit;
}
