div(class="fv-main", @focus="$emit('focus', $event)", @click="$emit('click', $event)", @blur="$emit('blur', $event)", @keyup="$emit('keyup', $event)", @keydown="$emit('keydown', $event)", @keypress="$emit('keypress', $event)")
    slot