@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
.fv-check {
  display: inline-block;
  height: 2em;
  margin: .9em 0;
  & > .fv-button {
    padding-#{$block-end}: 1.5em;
    padding-#{$block-start}: 1.5em;
  }
  & .fv-check-item:not(:last-child) {
    margin-#{$block-end}: .7em;
  }
  & .fv-check-item {
    border-radius: $border-radius;
    color: inherit;
    &,
    & * {
      cursor: pointer;
    }
    &.disabled {
      @include disabled;
    }
    &.checked,
    &.checked * {
      color: $primary-color;
    }
    &:focus,
    &.focus {
      @include outline;
    }
  }
  & .fv-check-icon {
    font-size: 18px;
    overflow: hidden;
    vertical-align: middle;
    width: 20px;
  }
  & .fv-control-label {
    display: inline;
    vertical-align: middle;
  }
}
