.fv-check
  span.fv-check-item(:tabindex="disabled || option.disabled? '': 0",
    v-for="option in pOptions",
    ref="option",
    @click="clickOption(option)",
    @keydown.enter.space="clickOption(option)",
    :class="{'checked': isChecked(option), 'disabled': option.disabled || disabled, 'invalid': !fvValidate}")
    i.fv-check-icon.fa(v-if="multiple",
      :class="{'fa-square-o': !isChecked(option), 'fa-check-square': isChecked(option)}")
    i.fv-check-icon.fa(v-else,
      :class="{'fa-circle-o': !isChecked(option), 'fa-dot-circle-o': isChecked(option)}")
    |  
    label.fv-control-label(v-html="option.text")
